// Gary Friedman
// Copyright 2016
@base: #f938ab;

.box-shadow(@style, @c) when (iscolor(@c)) {
  -webkit-box-shadow: @style @c;
  box-shadow:         @style @c;
}
.box-shadow(@style, @alpha: 50%) when (isnumber(@alpha)) {
  .box-shadow(@style, rgba(0, 0, 0, @alpha));
}
.box {
  color: saturate(@base, 5%);
  border-color: lighten(@base, 30%);
  div { .box-shadow(0 0 5px, 30%) }
}

// Basic stuff
body {
  margin: 0px;
}

// Network diagram stuff
.netsvg .link line {
  stroke: #ccc;
}
.netsvg text {
  pointer-events: none;
  font: 10px sans-serif;
  font-weight: bold;
}
